<%= javascript_include_tag "jcarousel.js" %>
<%= javascript_include_tag "carousel.js" %>

<div class = "Home_Banner">
<h1>Resume</h1>
</div>


<div class = "bottom_banner">

<h4 class = "above_slides">
<p>
I am a fourth year computer science major at UC Santa Barbara. I am also pursuing my Masters at UC Santa Barbara, and will graduate in June 2017 with my MS in Computer Science. For an overview of my academic achievements, download a pdf of my resume <%= link_to "Download Resume", resume_download_path, class: "btn btn-primary btn-sm" %>. Scroll through other projects I have worked on below.
</p>
</h4>

<div class="jcarousel-wrapper">
    <div class="jcarousel">
        <ul>
            <li><div class = "image_wrapper"><a href = "/" >
                <%=image_tag "Professional.jpg"%></a>
                <a href = "/" class = "jcarousel_caption"><p class = "subtitle1">Home</p><p class = "subtitle2">Go to the Home page</p></a>
              </div></li>

            <li><div class = "image_wrapper"><a href = "/about" >
                <%=image_tag "sunset.jpg"%></a>
                <a href = "/about" class = "jcarousel_caption"><p class = "subtitle1">About</p><p class = "subtitle2">Learn more about me</p></a>
              </div></li>

              <li><div class = "image_wrapper"><a href = "/interests" >
                <%=image_tag "Spagetti.jpg"%></a>
                <a href = "/interests" class = "jcarousel_caption"><p class = "subtitle1">Interests</p><p class = "subtitle2">Some of my Interests</p></a>
              </div></li>

              <li><div class = "image_wrapper"><a href = "/resume" >
                <%=image_tag "henley.jpg"%></a>
                <a href = "/resume" class = "jcarousel_caption"><p class = "subtitle1">Resume</p><p class = "subtitle2">You are here</p></a>
              </div></li>


        </ul>
    </div>

    <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
    <a href="#" class="jcarousel-control-next">&rsaquo;</a>

    <p class="jcarousel-pagination"></p>
</div>

</div>