<%= stylesheet_link_tag    'interests' %>
<%= javascript_include_tag "jcarousel.js" %>
<%= javascript_include_tag "carousel.js" %>


<div class = "Music_Banner">
<h1>Music</h1>
</div>

<h4 class = "above_slides">
I am the president of an Acappella Group, Naked Voices. I also play guitar. Look through some of the slides below to see other musical interests I have.
</h4>

<div class = "bottom_banner">

<div class="jcarousel-wrapper">
    <div class="jcarousel">
        <ul>
            <li><div class = "image_wrapper"><a href = "/interests/music/naked_voices" >
                <%=image_tag "nakedvoicesthumbnail.jpg"%></a>
                <a href = "/interests/music/naked_voices" class = "jcarousel_caption"><p class = "subtitle1">Naked Voices</p><p class = "subtitle2">UCSB Acappella Group</p></a>
              </div></li>

            <li><div class = "image_wrapper"><a href = "/interests/music/guitar" >
                <%=image_tag "guitar_stage.jpg"%></a>
                <a href = "/interests/music/guitar" class = "jcarousel_caption"><p class = "subtitle1">Guitar</p><p class = "subtitle2">Videos of me playing guitar</p></a>
              </div></li>

              <li><div class = "image_wrapper"><a href = "/interests/music/garageband" >
                <%=image_tag "garageband.jpg"%></a>
                <a href = "/interests/music/garageband" class = "jcarousel_caption"><p class = "subtitle1">Garageband</p><p class = "subtitle2">Covers made with Garageband</p></a>
              </div></li>
        </ul>
    </div>

    <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
    <a href="#" class="jcarousel-control-next">&rsaquo;</a>

    <p class="jcarousel-pagination"></p>
</div>


</div>