<div class = "NakedVoices_Banner">
<h1>Naked Voices</h1>
</div>

<h4 class = "above_slides">
I am a fourth year computer science major at UC Santa Barbara. I expect to graduate in June of 2016 with both an M.S. and B.S. in Computer Science. This site was created using Ruby on Rails with Bootstrap.
</h4>

<div class = "bottom_banner">

<div id="myCarousel" class="carousel slide" data-interval=2800 data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active carouselImg">
    	<%= link_to root_path do %>
      		<%=image_tag "Professional.jpg", class:"carouselImg"%>
      	<% end %>
      <a href = "/" class="carousel-caption">
        <h3>Home</h3>
        <p>You are here.</p>
      </a>
    </div>
    

    <div class="item carouselImg">
      <%= link_to about_path do %>
   			<%= image_tag "greek.jpg", class:"carouselImg" %>
   		<% end %>
      <a href = "/about" class="carousel-caption">
        <h3>About</h3>
        <p>Learn more about me</p>
    </a>
    </div>
    

    <div class="item carouselImg">
      <%= link_to hobbies_path do %>
   			<%= image_tag "ErikaGuiness.jpg", class:"carouselImg" %>
   		<% end %>
      <a href = "/hobbies" class="carousel-caption">
        <h3>Hobbies</h3>
        <p>Things I like to Do</p>
    </a>
    </div>
    

    <div class="item carouselImg">
    	<%= link_to about_path do %>
      		<%=image_tag "Professional.jpg", class:"carouselImg"%>
      	<%end%>
      <a href = "/resume" class="carousel-caption">
        <h3>Resume</h3>
        <p>Projects and Academics</p>
    </a>
    </div>
    
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>