<%= stylesheet_link_tag    'about'%>
<%= javascript_include_tag "jcarousel.js" %>
<%= javascript_include_tag "carousel.js" %>

<div class = "About_Banner">
<h1>About</h1>
</div>


<div class = "bottom_banner">

<h4 class = "above_slides">
<p>
I am a bay area native, currently attending school at the University of California, Santa Barbara. I am in my final year of school at UCSB, pursuing an MS in Computer Science. I have family coast to coast of the US and in Greece. Because my family is so spread out, we do a lot of traveling. Look at Interests to see more extracurriculars that I'm involved with, or resume, to get an overview of my work/project experience. To learn more about me, check out my social links for Facebook, Linkedin, and Github in the top left, and bottom right corners of the page.
</p>
</h4>

<div class="jcarousel-wrapper">
    <div class="jcarousel">
        <ul>
            <li><div class = "image_wrapper"><a href = "/" >
                <%=image_tag "Professional.jpg"%></a>
                <a href = "/" class = "jcarousel_caption"><p class = "subtitle1">Home</p><p class = "subtitle2">Go to the Home page</p></a>
              </div></li>

            <li><div class = "image_wrapper"><a href = "/about" >
                <%=image_tag "sunset.jpg"%></a>
                <a href = "/about" class = "jcarousel_caption"><p class = "subtitle1">About</p><p class = "subtitle2">You are here.</p></a>
              </div></li>

              <li><div class = "image_wrapper"><a href = "/interests" >
                <%=image_tag "Spagetti.jpg"%></a>
                <a href = "/interests" class = "jcarousel_caption"><p class = "subtitle1">Interests</p><p class = "subtitle2">Some of my Interests</p></a>
              </div></li>

              <li><div class = "image_wrapper"><a href = "/resume" >
                <%=image_tag "henley.jpg"%></a>
                <a href = "/resume" class = "jcarousel_caption"><p class = "subtitle1">Resume</p><p class = "subtitle2">Projects and Academics</p></a>
              </div></li>


        </ul>
    </div>

    <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
    <a href="#" class="jcarousel-control-next">&rsaquo;</a>

    <p class="jcarousel-pagination"></p>
</div>

</div>